footer.main-footer
  .wrapper
    .wrapper__inner
      ul.footer-nav
        li.footer-nav__item
          a(href="#") О бюро
        li.footer-nav__item
          a(href="#") Банкам
        li.footer-nav__item
          a(href="#") Компаниям
        li.footer-nav__item
          a(href="#") Собственникам
        li.footer-nav__item
          a(href="#") Контакты
      span.tel +7 (123)456-78-90
      span.locate г. Пышма, ул. Павлика, 10с3
      span.copy &#169;АБ &laquo;Ветров и партнеры&raquo;