header.main-header
  .wrapper
    .header__inner
      a.logo(href="#")
        img(src="./img/logo.svg" alt="logo")
      nav.page-nav
        .page-nav-large
          ul
            li.page-nav__item
              a(href="#") О бюро
            li.page-nav__item
              a(href="#") Банкам
            li.page-nav__item
              a(href="#") Компаниям
            li.page-nav__item
              a(href="#") Собственникам
            li.page-nav__item
              a(href="#") Контакты
          .user-block
            a(href="#")
              span.lang RU/
            a(href="#")
              span.lang EN
        .page-nav__toggle
        .page-nav-small
          ul
            li.page-nav__item 
              a(href="#") О бюро
            li.page-nav__item 
              a(href="#") Банкам
            li.page-nav__item 
              a(href="#") Компаниям
            li.page-nav__item 
              a(href="#") Собственникам
            li.page-nav__item 
              a(href="#") Контакты
          .user-block
            a(href="#")
              span.lang RU/
            a(href="#")
              span.lang EN