header.main-header
  .wrapper
    .header__inner
      a.logo(href="#")
        img(src="./img/logo.svg" alt="logo")
      nav.page-nav
        .page-nav__large
          ul
            li.page-nav__item
              a(href="#") О бюро
            li.page-nav__item
              a(href="#") Банкам
            li.page-nav__item
              a(href="#") Компаниям
            li.page-nav__item
              a(href="#") Собственникам
            li.page-nav__item
              a(href="#") Контакты
          .lang-block
            a.lang.active(href="#") RU
            a.lang(href="#") EN
        .page-nav__small
          .lang-block
            a.lang.active(href="#") RU
            a.lang(href="#") EN
          ul
            li.page-nav__item 
              a(href="#") О бюро
            li.page-nav__item 
              a(href="#") Банкам
            li.page-nav__item 
              a(href="#") Компаниям
            li.page-nav__item 
              a(href="#") Собственникам
            li.page-nav__item 
              a(href="#") Контакты
        .page-nav__toggle