extend layout/main.pug

block title
  - var title = "Главная"

block content
  
  main.main-content
    .wrapper
      .wrapper__inner
        .welcome-box
          img.welcome-box__image(src="img/face.jpg" alt="Василий")
          .welcome-box__text Приветствую Вас на нашем сайте и благодарю за интерес проявленный к Бюро. Здесь Вы найдете интереcующую вас информацию о нашей работе.
            span.blockquote__footer Управляющий Партнер,
              br 
              |Василий Ветров
      .features
          .features__item
            img.features__item__img(src="img/white-clock.png" alt="Оперативность")
            span.features__item__header Оперативность
            span.features__item__text Мы незамедлительно мобилизуем все ресурсы, чтобы предотвратить негативное развитие событий и получить сведения, необходимые для взвешенной оценки ситуации и принятия дальнейших решений.
          .features__item
            img.features__item__img(src="img/shild.png" alt="Надежность")
            span.features__item__header Надежность
            span.features__item__text Обеспечение полной конфиденциальности, строгое соблюдение норм профессиональной этики &#8212; больше чем формальные обязанности наших адвокатов. Мы ценим личные отношения, которые складываются с клиентом в ходе работы, и подходим к решению его проблем с предельной оветственностью и самоотдачей.
          .features__item
            img.features__item__img(src="img/white-squad.png" alt="Командный подход")
            span.features__item__header Командный подход
            span.features__item__text Слаженная работа команды Бюро совместное ведение дел и проектов исключают проблему зависимости клиента от одного адвоката и связанных с этим обстоятельств (болезнь, отпуск и т.п.). Это гарантирует предоставление квалифицированной юридической поддержки в любое время и на самом высоком уровне.
      .wrapper__inner 
        .offer
          .offer__item
            h2 Защита на стадии предварительного расследования и в суде
          .offer__item
            h2 Представительство юридических и физических лиц по гражданским и уголовным делам
          .offer__item
            h2 Сопровождение исков о банкротстве, дел о кредитном мошенничестве
            p Наработанная практика защиты интересов банков и заемщиков, успешный опыт возврата активов и досудебного урегулирования задолженности.
          .offer__item
            h2 Корпоративная адвокатура
            p Абонентское обслуживание компании или проектная работа специалистов в области гражданского, уголовного, уголовно-процессуального права.
          .offer__item
            h2 Круглосуточная юридическая помощь физическим лицам
            p Представление интересов собственников и топ-менеджмента, взаимодействие с правоохранительными органами от имени доверителя.
          .offer__item
            h2 Сбор информации, необходимой для оказания правовой помощи
            p Подключение широкого спектра ресурсов, анализ сведений из публичных источников, получение данных через адвокатские запросы.
        blockquote.blockquote Никакая отрасль права не обладает столь грозной силой, которая присуща праву уголовному, ибо здесь речь идет о жизни, здоровье и судьбах людей, попадающих в орбиту его действий.
          cite.blockquote__footer Доктор юридических наук,
            br 
            |профессор А. М. Яковлев
            